{% extends "department/base.html" %}

{% block body_block %}

{% if user.is_authenticated %}
<div class="container bg-light p-3">
  <div class="row">
    <div class="col-3">
      
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action list-group-item-secondary active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="bi bi-house-fill"></i>&nbsp; Home</a>
        <!-- <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="bi bi-pen-fill"></i>&nbsp; Edit Profile</a> -->
        <!-- <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-student-list" data-toggle="list" href="#list-student" role="tab" aria-controls="student"><i class="bi bi-people-fill"></i>&nbsp; Students</a> -->
        <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><i class="bi bi-layers-fill"></i>&nbsp; Courses</a>
        <!-- <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-application-list" data-toggle="list" href="#list-application" role="tab" aria-controls="applications"><i class="bi bi-file-earmark-person-fill"></i>&nbsp; Applications</a> -->
        <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-notification-list" data-toggle="list" href="#list-notification" role="tab" aria-controls="notification"><i class="bi bi-bell-fill"></i>&nbsp; Notifications</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary"  data-toggle="modal" data-target="#logoutModalCenter" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><i class="bi bi-x-square-fill"></i>&nbsp; Logout</a>
        
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div class="container">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ depinf.department_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">@{{depinf.user}}</h6>
                  <p class="card-text">{{depinf.bio}}</p>
                  <a href="{{depinf.website}}" class="text-secondary">{{depinf.website}}</a> | <a href="tel:+{{depinf.phone}}" class="text-secondary">{{depinf.phone}}</a>
                </div>
              </div>
            </div>


        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

          <div class="bg-light ">
            <div class="container">
              
              <div class="accordion" id="accordionExample">
                
                {% for rec in r %}
        
                <div class="card">
        
                  <div class="card-header" id="h{{ forloop.counter }}">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#c{{ forloop.counter }}" aria-expanded="true" aria-controls="">
                        {{rec.dep}}
                      </button>
                    </h2>
                  </div>
              
                  <div id="c{{ forloop.counter }}" class="collapse" aria-labelledby="#h{{ forloop.counter }}" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="row">
                        {% for c in rec.cor %}    
                        <div class="card col-md-5  m-2 p-2 bg-light border rounded">
                            <b>{{c.course_code}} - {{c.course_name}}</b>
                            <small>
                            Start date: {{c.start_date}} &nbsp; | &nbsp;
                            No of seats: {{c.no_of_seats}} </small>
                            <!-- Button trigger modal -->
                    <a href="" class="card-link" data-toggle="modal" data-target="#h{{ forloop.counter }}">
                      More...</a>
  
                      <!-- Course Modal -->
                      <div class="modal fade" id="h{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{c.course_code}} - {{c.course_name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Department : {{c.department}} <br>
                            Start Date : {{c.start_date}} <br>
                            Slot : {{c.slot}} &nbsp;&nbsp;&nbsp; Hours per week : {{c.hours_per_week}} <br>
                            No of seats : {{c.no_of_seats}} <br>
                            
                            <a href="../../static/campus.jpg">Syllabus</a>
                            {{c.syllabus}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                      </div>
                        </div>
                        {% empty %}
                        <p class="pl-5">No courses available.. </p>
                        {% endfor %}
                      </div>
          
                    </div>  
                  </div>
        
                </div>
                  {% endfor %}
              </div>
            <br>
            </div>
          </div>
          
        </div>
        <div class="tab-pane fade" id="list-student" role="tabpanel" aria-labelledby="list-student-list">

          {% for s in student %}
          <div class="list-group-item list-group-item-action">
            <div class="row">
            <div class="col-sm-10">{{ s.exam_reg_no }}
            </div>
            <div class="col-sm-2">
              <small>{{ n4.publish_date }}</small></div>
          </div>
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="list-application" role="tabpanel" aria-labelledby="list-application-list">approve application</div>
        <div class="tab-pane fade" id="list-notification" role="tabpanel" aria-labelledby="list-notification-list">


          {% for n4 in notsin %}
          <div class="list-group-item list-group-item-action">
            <div class="row">
            <div class="col-sm-10">{{ n4.notification }}
            </div>
            <div class="col-sm-2">
              <small>{{ n4.publish_date }}</small></div>
          </div>
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="logoutModalCenter" tabindex="-1" role="dialog" aria-labelledby="logoutModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLongTitle">Confirm Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to logout?
      </div>
      <div class="modal-footer">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-light" data-dismiss="modal">Go back</button>
        <a class="btn btn-secondary" href="{% url 'logout' %}"> Confirm</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="container">
  <div class="alert alert-warning" role="alert">
    Session Expired! <a href="{% url 'welcome' %}">Login again</a>
  </div>
</div>
{% endif %}

{% endblock %}