{% extends "student/base.html" %}

{% block body_block %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
      <li><a class="navbar-brand" href="{% url 'welcome' %}">IDCP</a></li>
      <li><a class="navbar-link" href="{% url 'department:register' %}">Register</a></li>     
      {# Some logic on what to display for last item#}
      {% if user.is_authenticated %}
        <li><a href="{% url 's_logout' %}">Logout</a></li>
      {% else %}
        <li><a class="navbar-link" href="{% url 'department:user_login' %}">Login</a></li>
      {% endif %}
</ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h2><B>Interdisciplinary Course Portal</B></h2>
    <h4>Cochin University of Science and Technology</h4>
    {% if user.is_authenticated %}
        <h5>Hello {{ user.username }}</h5>
    {% else %}
        <h5>Register or Login if you'd like to</h5>
    {% endif %}
  </div>

  
</div>
{% endblock %}