<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Student Details</title>
</head>
<body>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
    <table border='1px' class="table">
        <thead class="thead-dark">
        <tr scope="row">
            <th colspan="5" scope="col"><center>
                {{dep}}
            </center>
            </th>
        </tr>
    </thead>
    <thead class="thead-dark">
        <tr scope="row">

            <th scope="col">Reg No.</th>
            <th scope="col">Full Name</th>
            <th scope="col">Programme</th>
            <th scope="col">Department</th>
            <th scope="col">Enrolled Course</th>
        </tr>
    </thead>
        {% for s in student%}
        <tr scope="row">
            <td scope="col">
                {{s.student.exam_reg_no}}
            </td>
            <td scope="col">
                {{s.student.user.first_name}} {{s.student.user.last_name}}
            </td>
            <td scope="col">
                {{s.student.course}}
            </td>
            <td scope="col">
                {{s.student.department}}
            </td>
            <td scope="col">
                {{s.course}}
            </td>
        </tr>
        {% endfor %}

      </table>
    </div>
    </div>
    <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 mr-0">
        <div class="container ">
            <a id="print" class="btn btn btn-dark text-white" onclick="t_id=document.getElementById('print');t_id.style.visibility='hidden'; window.print();return false;">Print</a>
    
        </div>
    </div>
    <div class="col-md-5"></div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>