{% extends "department/base.html" %}

{% block body_block %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
      <li><a class="navbar-brand" href="{% url 'welcome' %}">IDCP</a></li>
      <li><a class="navbar-link" href="{% url 'department:register' %}">Register</a></li>     
      {# Some logic on what to display for last item#}
      {% if user.is_authenticated %}
      <li><a href="" class="" data-toggle="modal" data-target="#exampleModalCenter">
        Logout</a>
      </li>
        <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Go back</button>
        <a class="btn btn-secondary" href="{% url 'logout' %}"> Confirm</a>
      </div>
    </div>
  </div>
</div>

      {% else %}
        <li><a class="navbar-link" href="{% url 'department:user_login' %}">Login</a></li>
      {% endif %}
</ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h2><B>Interdisciplinary Course Portal</B></h2>
    <h4>Cochin University of Science and Technology</h4>
    {% if user.is_authenticated %}
        <h5>Hello {{ user.username }}</h5>
    {% else %}
        <h5>Register or Login if you'd like to</h5>
    {% endif %}
  </div>

  
</div>
{% endblock %}