{% extends "department/base.html" %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container">
  <div class="row py-4 bg-light rounded">
    <div class="col-md-3 mb-2">

      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action list-group-item-secondary active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="bi bi-house-fill"></i>&nbsp; Home</a>
        <!-- <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="bi bi-pen-fill"></i>&nbsp; Edit Profile</a> -->
        <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-student-list" data-toggle="list" href="#list-student" role="tab" aria-controls="student"><i class="bi bi-people-fill"></i>&nbsp; Students</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><i class="bi bi-layers-fill"></i>&nbsp; Courses</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-application-list" data-toggle="list" href="#list-application" role="tab" aria-controls="applications"><i class="bi bi-file-earmark-person-fill"></i>&nbsp; Enrollments</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-notification-list" data-toggle="list" href="#list-notification" role="tab" aria-controls="notification"><i class="bi bi-bell-fill"></i>&nbsp; Notifications</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary"  data-toggle="modal" data-target="#logoutModalCenter" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><i class="bi bi-x-square-fill"></i>&nbsp; Logout</a>

      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div class="">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ depinf.department_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">@{{depinf.user}}</h6>
                  <p class="card-text">{{depinf.bio}}</p>
                  <a href="{{depinf.website}}" class="text-secondary">{{depinf.website}}</a> | <a href="tel:+{{depinf.phone}}" class="text-secondary">{{depinf.phone}}</a>
                </div></div>
                <br>
                <div class="card p-2">
                    <br>
                  <div class="container">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#staticBackdropa">
                      <i class="bi bi-person-plus-fill"></i>&nbsp; Add Staff
                    </button>

                    </div>

                    <!-- Modal add staff-->
                    <div class="modal fade" id="staticBackdropa" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Staff</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-body">

                            {% if registered %}
                            <h1>Thank you for registering!</h1>
                          {% else %}
                            <form enctype="multipart/form-data" method="POST">
                              {% csrf_token %}
                              {{ f_user_form.as_p }}
                              {{ f_profile_form.as_p }}
                              <input type="submit" name="" value="Add">
                            </form>

                            {% endif %}

                          </div>

                        </div>
                      </div>
                    </div> <br>
                    <ul class="list-group">
                      {% for stf in staff %}
                      {% if stf.isCC %}<li class="list-group-item">{{stf.name}}&nbsp;&nbsp;<span class="badge badge-dark">Course Coordinator</span></li>{% endif %}
                      {% endfor %}
                      {% for t in teaches %}
                      {% if t.faculty.isCC %}{% else %}<li class="list-group-item">{{t}}&nbsp;&nbsp;<span class="badge badge-warning">Couese: {{t.course}}</span> </li>{% endif %}

                      {% endfor %}
                      {% for t in f_no_list %}
                      {% if t.isCC %}{% else %}<li class="list-group-item">{{t}} </li>{% endif %}

                      {% endfor %}
                    </ul>

                </div>

              </div>

        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

          <div class="">
              <br>
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#staticBackdrop">
              <i class="bi bi-plus-circle-fill"></i>&nbsp; Add New Course
            </button>





            <!-- Modal add course-->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add new Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">

                    {% if registered %}
                    <h1>Thank you for registering!</h1>
                  {% else %}

                  {% load bootstrap4 %}
                  {% bootstrap_css %}
                  {% bootstrap_javascript jquery='full' %}
                  {{ course_form.media }}

                    <form enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                      {{ course_form.as_p }}
                      <label for="start">Start date:</label>
                      <input type="submit" name="" value="Add">

                    </form>


                    {% endif %}

                  </div>

                </div>
              </div>
            </div>
            <br><br>
            <div id="courses-provided" class="alert bg-dark text-white" role="alert"> Courses Provided</div>
            {% for tc in teaches %}
            <div class="list-group-item list-group-item p-3 mt-2">
              <div class="row">

                  <div class="col-md-6">
                  <b>{{tc.course.course_code}} - {{tc.course.course_name}}</b><br>
                    <small>
                    Start date: {{tc.course.start_date}}
                    <br>No of seats: {{tc.course.no_of_seats}} </small>
                    <!-- Button trigger modal --> <br>
                    </div>

                    <div class="col-md-3 my-auto">
                      <i><small>faculty</small></i> <br>
                      {{tc.faculty}}
                        </div>

                    <div class="col-md-3 my-auto">


                    <a  href="" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#h{{ forloop.counter }}">
                    Detais</a>
                      <button type="button" class="btn btn-sm btn-outline-info"  data-toggle="modal" data-target="#edit{{ forloop.counter }}"><i class="bi bi-pen-fill"></i></button>
                    <!--</div>
                    <div class="col-md-1 my-auto">-->
                      <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#cousedel{{ forloop.counter }}"><i class="bi bi-trash3-fill"></i></button>
                    </div>
                  </div>
                </div>


            <!-- Modal edit course-->
            <div class="modal fade" id="edit{{ forloop.counter }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit Course {{tc.course.course_code}} - {{tc.course.course_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">

                    {% if registered %}
                    <h1>Thank you for registering!</h1>
                  {% else %}

                    <form enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                      {{ course_form.as_p }}
                      <input type="submit" name="" value="Edit">

                    </form>


                    {% endif %}

                  </div>

                </div>
              </div>
            </div>

                <!-- Course Modal -->
                <div class="modal fade" id="h{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tc.course.course_code}} - {{tc.course.course_name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Department : {{tc.course.department}} <br>
                        Start Date : {{tc.course.start_date}} <br>
                        Slot : {{tc.course.slot}} &nbsp;&nbsp;&nbsp; Hours per week : {{tc.course.hours_per_week}} <br>
                        No of seats : {{tc.course.no_of_seats}} <br>

                        <a href="{% url 'department:download' tc.course.id %}">Syllabus</a>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                  </div>

                <!--modal delete course -->
                <div class="modal fade" id="cousedel{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Course</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Delete course {{tc.course.course_name}} ?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-sm btn-danger" href="{% url 'department:delete' tc.course.id %}">Confirm</a>
                      </div>
                    </div>
                  </div>
                  </div>

                {% empty %}

                <div>
                  <p class="pl-5">No courses assigned to any faculty.. </p>
                </div>


          {% endfor %}

          {% for tc in c_no_list %}
            <div class="list-group-item  p-3 mt-2">
              <div class="row">

                  <div class="col-md-6">
                  <b>{{tc.course_code}} - {{tc.course_name}}</b><br>
                    <small>
                    Start date: {{tc.start_date}} &nbsp; | &nbsp;
                    No of seats: {{tc.no_of_seats}} </small>
                    <!-- Button trigger modal --> <br>

                    </div>

                    <div class="col-md-3 my-auto">
                      <!-- <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#staticBackdropb">
                        <i class="bi bi-person-workspace"></i></i>&nbsp; Assign faculty
                      </button> -->
                      <!-- <div class="badge badge-warning">No faculty assigned</div> -->
                      <form method="post" action="{% url 'department:assign_fac' %}">
                        {% csrf_token %}
                        <select name="faculty" id="faculty" class="btn btn-sm btn-light border border-dark">
                          <option value="">Select a faculty</option>
                          {% for f in f_no_list %}
                          <option value="{{f.id}}">{{f}}</option>
                          {% endfor %}
                        </select>
                        <input type="hidden" name="course" value="{{tc.id}}">
                        <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="bi bi-check-circle-fill"></i></button>

                      </form>
                        </div>

                    <div class="col-md-3 my-auto">
                        <a href="" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#hts{{ forloop.counter }}">
                    Details</a>
                      <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#editfo{{ forloop.counter }}"><i class="bi bi-pen-fill"></i></button>
                   <!-- </div>
                    <div class="col-md-1 my-auto">-->
                      <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#cousedel{{ forloop.counter }}"><i class="bi bi-trash3-fill"></i></button>
                    </div>
                  </div>
                </div>

                <!-- Course Modal -->
                <div class="modal fade" id="hts{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tc.course_code}} - {{tc.course_name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Department : {{tc.department}} <br>
                        Start Date : {{tc.start_date}} <br>
                        Slot : {{tc.slot}} &nbsp;&nbsp;&nbsp; Hours per week : {{tc.hours_per_week}} <br>
                        No of seats : {{tc.no_of_seats}} <br>

                        <a href="{% url 'department:download' tc.id %}">Syllabus</a>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                  </div>

                            <!-- Modal edit course-->
            <div class="modal fade" id="editfo{{ forloop.counter }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit Course {{tc.course.course_code}} - {{tc.course.course_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">

                    {% if registered %}
                    <h1>Thank you for registering!</h1>
                  {% else %}

                    <form enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                      {{ course_form.as_p }}
                      <input type="submit" name="" value="Edit">

                    </form>


                    {% endif %}

                  </div>

                </div>
              </div>
            </div>

                <!--modal delete course -->
                <div class="modal fade" id="cousedel{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Course</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Delete course {{tc.course_name}} ?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-sm btn-danger" href="{% url 'department:delete' tc.id %}">Confirm</a>
                      </div>
                    </div>
                  </div>
                  </div>

                {% empty %}




          {% endfor %}


          </div>

        </div>

        <div class="tab-pane fade" id="list-student" role="tabpanel" aria-labelledby="list-student-list">


            <a class="btn btn-sm btn-outline-dark m-2" href="{% url 'department:print_preview'%} target="_blank"" target="_blank"><i class="bi bi-download"></i> Print Enrollment Info</a>
            <a class="btn btn-sm btn-outline-info m-2" href="{% url 'department:approve_all' %}">Approve All</a>

          <div class="alert bg-dark text-white" role="alert">
            Registered Students
          </div>

          {% for s in student %}
          {% if not s.approved %}
          <div class="list-group-item list-group-item-action">
            <div class="row">
            <div class="col-sm-7">{{ s.exam_reg_no }} - {{ s.user.first_name }} {{ s.user.last_name }}
            </div>
            <div class="col-sm-1"><hr></div>
            <div class="col-sm-4 my-auto">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#stu{{ forloop.counter }}">
                 Details
              </button>
              <!--</div>-->

              <!--<div class="col-sm-2">-->
                <button class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#appro{{ forloop.counter }}">Approve</button>
              <!--</div>-->
              <!--<div class="col-sm-1">-->
                <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#reject{{ forloop.counter }}">Reject</button>
            </div>
          </div>


        </div>

        <div class="modal fade" id="reject{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reject {{s.user.first_name}} {{s.user.last_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Confirm deletion of {{s.user.first_name}} {{s.user.last_name}} to the system.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>

                <a class="btn btn-danger btn-sm" href="{% url 'department:reject' s.user.id %}"> Confirm</a>
              </div>
            </div>
          </div>
          </div>

        <div class="modal fade" id="appro{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Approve {{s.user.first_name}} {{s.user.last_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Confirm verification of {{s.user.first_name}} {{s.user.last_name}} to the system.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>

                <a class="btn btn-info btn-sm" href="{% url 'department:approve' s.user.id %}"> Confirm</a>
              </div>
            </div>
          </div>
          </div>

        <div class="modal fade" id="stu{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{s.user.first_name}} {{s.user.last_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Department : {{s.department}} <br>
                Course : {{s.course}} <br>
                Phone : {{s.phone}} &nbsp;&nbsp;&nbsp; Email : {{s.user.email}} <br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          </div>
          {% endif %}
          {% endfor %}
          <br>
          <div class="alert bg-dark text-white" role="alert">
            Approved Students
          </div>

          {% for s in student %}
          {% if s.approved %}
          <div class="list-group-item list-group-item-action">
            <div class="row">
            <div class="col-sm-10">{{ s.exam_reg_no }} - {{ s.user.first_name }} {{ s.user.last_name }}
            </div>
            <div class="col-sm-1">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#stu{{ forloop.counter }}">Details</button>
              </div>
          </div>


        </div>

        <div class="modal fade" id="stu{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{s.user.first_name}} {{s.user.last_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Department : {{s.department}} <br>
                Course : {{s.course}} <br>
                Phone : {{s.phone}} &nbsp;&nbsp;&nbsp; Email : {{s.user.email}} <br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          </div>
          {% endif %}
          {% endfor %}
</div>
        <div class="tab-pane fade" id="list-application" role="tabpanel" aria-labelledby="list-application-list">

          <a class="btn btn-sm btn-outline-dark m-2" href="{% url 'department:student_preview'%}" target="_blank"><i class="bi bi-download"></i> Print Enrollment Data</a>

          <div class="alert bg-dark text-white" role="alert">Enrolled Students</div>
            {% for end in enrolled %}
            <div class="list-group-item list-group-item-action">
              <div class="row">
              <div class="col-sm-6">{{ end.student }} - {{ end.student.user.first_name }} {{ end.student.user.last_name }} <br>
                <small><i>{{ end.student.department }}</i></small>
              </div>
              <div class="col-sm-4">
                <small>Enrolled Course:</small><br>
                {{ end.course }}
                </div>
              <div class="col-sm-2 my-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#studetl{{ forloop.counter }}">Details</button>
                <!--</div>
                <div class="col-sm-1 my-auto">-->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#removest{{ forloop.counter }}"><i class="bi bi-trash3-fill"></i></button>
                  </div>
            </div>


          </div>

            <div class="modal fade" id="studetl{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{end.student.user.first_name}} {{end.student.user.last_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Department : {{end.student.department}} <br>
                    Course : {{end.student.course}} <br>
                    Phone : {{end.student.phone}} &nbsp;&nbsp;&nbsp; Email : {{end.student.user.email}} <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
              </div>

              <div class="modal fade" id="removest{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Reject {{end.student.user.first_name}} {{end.student.user.last_name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Confirm deletion of {{end.student.user.first_name}} {{end.student.user.last_name}} from the course.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                      <a class="btn btn-sm btn-danger" href="{% url 'department:unenroll' end.id %}">Unenroll</a>

                    </div>
                  </div>
                </div>
                </div>

            {% empty %}
              No students enrolled yet.
            {% endfor %}

        </div>
        <div class="tab-pane fade" id="list-notification" role="tabpanel" aria-labelledby="list-notification-list">
            <br>
          <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#staticBackdropnot">
            <i class="bi bi-plus-circle-fill"></i>&nbsp; Add new notification
          </button><br><br>


          <!-- Modal add course-->
          <div class="modal fade" id="staticBackdropnot" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Add new notification</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ nots_form }}
                    <br>
                    <input type="submit" name="" value="Add" class="btn btn-secondary btn-sm">
                  </form>

                </div>

              </div>
            </div>
          </div>

          <div class="alert bg-dark text-white" role="alert">Notifications</div>
          {% for n4 in notsin %}
          <div class="list-group-item list-group-item-action">
            <div class="row">
            <div class="col-sm-8">{{ n4.notification }}
            </div>
            <div class="col-sm-3">
              <small>{{ n4.publish_date }}</small></div>

              <div class="col-sm-1">
                <button type="button" class="btn btn-sm btn-outline-danger"  data-toggle="modal" data-target="#del_not{{ forloop.counter }}"><i class="bi bi-trash3-fill"></i></button>
            </div>


          </div>
        </div>

        <!--modal delete notification -->
        <div class="modal fade" id="del_not{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Delete notification?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-sm btn-danger" href="{% url 'department:not_delete' n4.id %}">Confirm</a>
              </div>
            </div>
          </div>
          </div>

          {% endfor %}
        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="logoutModalCenter" tabindex="-1" role="dialog" aria-labelledby="logoutModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLongTitle">Confirm Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to logout?
      </div>
      <div class="modal-footer">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
        <a class="btn btn-dark" href="{% url 'logout' %}"> Confirm</a>
        {% endif %}
      </div>
    </div>
  </div>

</div>


{% else %}

<div class="container">
  <div class="alert alert-warning" role="alert">
    Session Expired! <a href="{% url 'welcome' %}">Login again</a>
  </div>

</div>


{% endif %}
<br>
{% endblock %}