{% extends "department/base.html" %}
{% load static %}
{% block body_block %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="{% url 'welcome' %}">IDCP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="navbar-link  text-dark" href="#">Student Login</a></li>&nbsp;&nbsp; 
        {# Some logic on what to display for last item#}
        <!-- {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a class="navbar-link  text-dark" href="{% url 'department:user_login' %}">Department Login</a></li>
        {% endif %} -->
    </ul>
  </div>
</nav>
<div class="container">
<div class="jumbotron" style="background-image: url('../../static/campus.png');background-repeat: no-repeat;background-size: cover;">
  <h2><B>Interdisciplinary Course Portal</B></h2>
  <h4>Cochin University of Science and Technology</h4>
  {% if user.is_authenticated %}
      <h5>Hello {{ user.username }}</h5>
  

  {% endif %}
</div>

  <div class="container">
    <div class="card" style="margin: 0 auto; float: none; margin-bottom: 10px;">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}