{% extends "department/base.html" %}

{% block body_block %}
<div class="">
  <div class="row">
    <div class="col container-fluid card bg-light rounded m-3 p-4">
        <h3>The Team</h3>
        <div class="row">
            <div class="col-sm-5 bg-white rounded p-3 m-2 border">
            <big><i class="bi bi-person-circle"></i></big> &nbsp;<b>Abdu Musowir U</b>
            </div>
            <div class="col-sm-5 bg-white rounded p-3 m-2 border">
                <big><i class="bi bi-person-circle"></i></big> &nbsp;<b>Muhammed Mahir P C </b>
            </div>
            <div class="col-sm-5 bg-white m-2 rounded p-3 border">
                <big><i class="bi bi-person-circle"></i></big> &nbsp;<b>Abhinand P K </b>
            </div>
            <div class="col-sm-5 bg-white m-2 rounded p-3 border">
                <big><i class="bi bi-person-circle"></i></big> &nbsp;<b>Silpa Raj </b>
            </div>
            <div class="col-sm-5 bg-white m-2 rounded p-3 border">
                <big><i class="bi bi-person-circle"></i></big> &nbsp;<b>Suryalakshmi U M </b>
            </div>
        </div>

    </div>

  </div>

</div>
<br>
{% endblock %}