{% extends "department/base.html" %}

{% block body_block %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="{% url 'welcome' %}">IDCP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="navbar-link  text-dark" href="#">Student Login</a></li>&nbsp;&nbsp; 
        {# Some logic on what to display for last item#}
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a class="navbar-link  text-dark" href="{% url 'department:user_login' %}">Department Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron" style="background-image: url('../../static/campus.png');background-repeat: no-repeat;background-size: cover;">
    
    
    <h2><B>Interdisciplinary Course Portal</B></h2>
    <h4>Cochin University of Science and Technology</h4>
    {% if user.is_authenticated %}
        <h5>Hello {{ user.username }}</h5>
    

    {% endif %}
  </div>
  
  <div class="container">
    <h5>Departments</h5>
    <div class="row">
      
      <div class="col-sm-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Dep1</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Dep1</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Dep1</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Dep1</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Dep1</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Dep1</a>
          
        </div>
      </div>
      <div class="col-4">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <ul>
              <h5>Courses</h5>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <ul>
              <h5>Courses</h5>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <ul>
              <h5>Courses</h5>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><ul>
            <h5>Courses</h5>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </div>
        </div>
      </div>


     
      <div class="col-sm-4">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action bg-secondary text-white"><u>Notifications</u></button>
          <button type="button" class="list-group-item list-group-item-action">A third button item</button>
          <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
          <button type="button" class="list-group-item list-group-item-action">A second button item</button>
          <button type="button" class="list-group-item list-group-item-action">A third button item</button>
          <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
        </div>

      </div>
    </div>

  
</div>
<div>
  
</div>
{% endblock %}