{% extends "department/base.html" %}

{% block body_block %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="{% url 'welcome' %}">IDCP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="navbar-link  text-dark" href="#">Student Login</a></li>&nbsp;&nbsp; 
        {# Some logic on what to display for last item#}
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a class="navbar-link  text-dark" href="{% url 'department:user_login' %}">Department Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron" style="background-image: url('../../static/campus.png');background-repeat: no-repeat;background-size: cover;">
    
    
    <h2><B>Interdisciplinary Course Portal</B></h2>
    <h4>Cochin University of Science and Technology</h4>
    {% if user.is_authenticated %}
        <h5>Hello {{ user.username }}</h5>
    

    {% endif %}
  </div>
  
  <div class="container">
    <div class="col">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action bg-secondary text-white"><u>Notifications</u></button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A second button item</button>
        </div>

    </div>
    <br>
    <h5>Couses</h5>
    <div class="row">
      
          {% for cor in courses %}
          <div class="card col-md-3">
            <br>
            <div class="card-title"> <b>{{cor.course_code}} - {{cor.course_name}}</b></div>
            <div class="card-body">
              {{cor.department}} <br>
              Start date: {{cor.start_date}} <br>
              No of seats: {{cor.no_of_seats}}
            </div>
          </div>
          {% endfor %}
        </div>
        </div>
    </div>

  
</div>
<div>
  
</div>
{% endblock %}